canvas {
  border: 1px solid #000;
  display: block;
  margin: auto;
}

.vertical-wall {
  cursor: url(assets/vertical_cursor.gif) 10 20, auto;
}

.horizontal-wall {
  cursor: url(assets/horizontal_cursor.gif) 20 10, auto;
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Francois One', sans-serif;
}

label.score {
  border: 1px solid green;
  display: block;
  width: 100px;
  margin: auto;
}

label.lives {
  border: 1px solid red;
  display: block;
  width: 100px;
  margin: auto;
}

button {
  display: block;
  width: 200px;
  margin: 5px auto;
}

button.clicked {
  border: 1px solid red;
}
